@import "tailwindcss";

@font-face {
  font-family: 'Nation';
  src: url('../public/NATIONPD.TTF') format('truetype'),
  url('../public/NATIONPD.TTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-inika {
  font-family: "Inika", serif !important;
}



.font-dotted {
  font-family: "Nation", sans-serif !important;
}