@using Heilsunudd.Intranet.Models.User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> SignInManager;


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="">
            <a class="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="">
            <a class="py-2 px-3 border-2 border-dashed border-gray-600 rounded-md hover:bg-black hover:text-white hover:scale-95  cursor-pointer transition duration-300 ease-in-out hover:border-0 hover:-translate-y-2" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <span class="">|</span>
        <li class="">
            <a class="py-2 px-3 border-2 border-dashed border-gray-600 rounded-md hover:bg-black hover:text-white hover:scale-95  cursor-pointer transition duration-300 ease-in-out hover:border-0 hover:-translate-y-2" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }